.resetPasswordSectionParent {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.154);
    z-index: 9999;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetPasswordContainer {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: var(--bg-secondary-dark);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
}

.resetPasswordInputDiv {
    width: 25rem;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.resetPasswordInputDiv > span {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    color: var(--light-gray-text);
    font-size: 1.2rem;
}

.resetPasswordInputField {
    height: 4rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-profile-gray);
    padding-left: 10px;
    color: white;
    font-size: 1.8rem;
}

.resetPasswordAcceptDecline {
    height: 5rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resetPasswordAcceptDecline button {
    height: 80%;
    width: 49%;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.resetPasswordSubmit {
    background-color: var(--accept-btn);
}

.resetPasswordDecline {
    background-color: red;
}

.otpFieldAnadGet{
    /* background-color: pink; */
    display: flex;
    gap: 5px;
}
.getOtpButton{
    width: 7rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--bg-profile-gray);
    color: rgba(255, 255, 255, 0.523);
}

.getOtpButton:hover{
    cursor: pointer;
}